@model BugSquash.ViewModels.RandomTicketViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    
This is a comment on multiple lines
*@

@{ 

    var className = Model.TicketTypes.Count > 5 ? "popular" : null;
}


<h2 class="popular">@Model.Ticket.Name</h2>

@if (Model.TicketTypes.Count == 0)
{
    <p>No tickets have been created.</p>
}
else
{
    <ul>

@foreach (var ticketType in Model.TicketTypes)
{
    <li>@ticketType.Name</li>
}
    </ul>
}

